<div class="footer">
 <footer>
   <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/" style="float: left; margin-right: 20px">
   <img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
  </a>
  <p>diet4j is a trademark of the diet4j project, instigated by and &copy; 2015 by
     <a href="https://github.com/jernst">Johannes Ernst</a>.</p>
  <p><a href="https://github.com/diet4j/">Contributions and bug fixes very welcome!</a></p>
 </footer>
</div>
