---
layout: default
isFrontPage: true
---

<div class="news">
 <h2>News:</h2>
 <ul class="news-posts">
{% assign counter = '0' %}
{% for post in site.posts %}
{% for cat in post.categories %}
{% if cat == "hot" and counter < '3' %}
    {% capture counter %}{{ counter | plus:'1' }}{% endcapture %}
  <li>
   <span class="news-title">
    <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
   </span>
  </li>
{% endif %}
{% endfor %}
{% endfor %}
 </ul>
</div>
<div class="section">
 <div class="section-left">
  <h2>diet<span class="d4j">4j</span>, <i>noun</i></h2>
 </div>
 <div class="section-right-first">
  <ol>
   <li>A principled plan to limit ingestion to only the right
       <span class="s4j">foods</span> <span class="d4j">JARs</span> instead of living
       a life of <span class="s4j">bloat</span> <span class="d4j">oversized,
       all-but-the-kitchen-sink JARs and WARs.</span></li>
   <li>An assembly of all the <span class="s4j">notables</span> <span class="d4j">modules</span>
       needed (and no more) in a particular place and time to
       <span class="s4j">make important decisions</span> <span class="d4j">run
       a Java application.</span></li>
 </div>
</div>
<div class="section">
 <div class="section-left">
  <h2>So what is diet4j?</h2>
 </div>
 <div class="section-right">
  <p>diet4j lets you distribute your <a href="https://maven.apache.org/">Maven</a> modules
     as you built them: one at a time. No need for gigantic JARs or WARs that bundle
     a gazillion libraries.</p>
  <p>When you run an application, diet4j automatically assembles all required modules into a
     running executable (or web app). It's like Maven at run-time.</p>
  <p>It currently works for command-line applications, and Tomcat web applications.</p>
 </div>
</div>
<div class="section">
 <div class="section-left">
  <h2>The old way:</h2>
 </div>
 <div class="section-right">
  <pre>&gt; java -classpath this.jar:and-this.jar:and-that.jar:and-i-forgot-something.jar:and-lets-bundle-this-too-just-in-case.jar:and-five-more-miles-of.jar</pre>
  <p>or</o>
  <pre>&gt; java -jar BLOAT.jar</pre>
 </div>
</div>
<div class="section">
 <div class="section-left">
  <h2>The diet4j way:</h2>
 </div>
 <div class="section-right">
  <pre>&gt; diet4j my-project</pre>
  <p>where <code>my-project</code> is the name of your top-level Maven project.
     Regardless how complicated its dependencies might be, diet4j will pull in all
     dependent module JARs at run-time &mdash; just like Maven does at compile time. And it
     uses the pom that maven already packages with the JAR, so you have to do
     basically nothing to get your code ready for diet4j.</p>
  <p>(If you don't like our shell script, you can say
     <code>java -jar diet4j-cmdline-VERSION.jar my-project</code> instead; it does the same thing.)</div>
</div>
<div class="section">
 <div class="section-left">
  <h2>Why is this a good idea?</h2>
 </div>
 <div class="section-right">
  <p>Some people like gigantic JARs and long build times. If you don't, diet4j lets you:</p>
  <ul>
   <li>Ship and update a module used by several applications on the same server once, instead
       of once per app. Lots of other programming languages do that (libc.so, anyone?).
       Why not Java?</li>
   <li>Reduce incremental build/deploy times by just updating the JAR of the module that
       was updated, not the entire application.</li>
   <li>Dynamically load additional modules at run-time without taking the app down,
       if you are so inclined. jdiet has an <a href="/javadoc/">API</a> for that.</li>
   <li>Use a separate ClassLoader for each module. Helps with modularization, security,
       and debugging.</li>
   <li>It works with most existing Maven projects without change!</li>
  </ul>
 </div>
</div>
<div class="section">
 <div class="section-left">
  <h2>How to install</h2>
 </div>
 <div class="section-right">
  <p>Getting the code is easiest right now with git:</p>
  <pre>&gt; git clone https://github.com/diet4j/diet4j.git
&gt; cd diet4j
&gt; mvn install
&gt; install -m755 diet4j-cmdline/bin/diet* ~/bin/</pre>
  <p>(This is for Linux)</p>
 </div>
</div>
<div class="section">
 <div class="section-left">
  <h2>Demo apps</h2>
 </div>
 <div class="section-right">
  <p>Get them:</p>
  <pre>&gt; git clone https://github.com/diet4j/diet4j-examples
&gt; cd diet4j-examples
&gt; mvn install</pre>
   <p>Run example 1:</p>
   <pre>&gt; DIET4J_REPO=$HOME/.m2/repository diet4j org.diet4j:diet4j-examples-one some rand/some text</pre>
  <p>This is what happened:</p>
  <ul>
   <li>diet4j's main program started, and looked for maven module with groupId <code>org.diet4j</code>
      and artifactId <code>diet4j-examples-one</code>
      in your maven repository at <code>HOME/.m2</code></li>
   <li>After loading the JAR, diet4j examined the contained Maven POM file, and noticed that this module
       has a dependency: module <code>diet4j-examples-utils</code>. So it loaded that, too.</li>
   <li>diet4j created a <code>ClassLoader</code> for each, and connected them, so that the main module
       can load the classes from the dependency (but not the other way around).</li>
   <li>diet4j then looked for a <code>main()</code> method to run in the main module, and
       found one in the <code>Main-Class</code> field of the top module's <code>MANFIEST.MF</code>,
       just as if you had run the application with a kitchen-sink-JAR directly from the command-line.</li>
   <li>diet4j passed the remaining arguments into that <code>main()</code> method.</li>
   <li>Note: no
       <a href="https://maven.apache.org/plugins/maven-assembly-plugin/usage.html">jar-with-dependencies</a>
       required.</li>
  </ul>
  <p>To learn more, we suggest you look at the
     <a href="https://github.com/diet4j/diet4j-examples">code for the examples</a> on Github.</p>
 </div>
</div>
<div class="section">
 <div class="section-left">
  <h2>What else can diet4j do?</h2>
 </div>
 <div class="section-right">
  <ul>
   <li>Find and load modules at run-time. That's great for apps that have plug-in's and
       other add-on's that the user can add without needing to restart the app.</li>
   <li>Activate and deactivate modules when they are loaded/unloaded. Try
       <pre>&gt; DIET4J_REPO=$HOME/.m2/repository diet4j org.diet4j:diet4j-examples-activate</pre></li>
   <li>Do the same thing for Tomcat web apps. For that, you add
       <code>diet4j-tomcat.jar</code> (which you built earlier in
       <code>diet4j-tomcat/target/diet4j-tomcat-VERSION.jar</code>)
       to your Tomcat <code>lib</code> directory, restart Tomcat, and add a
       <code>Loader</code> statement to your <code>context.xml</code> file.</li>
   <li>And if you don't like prefixing your <code>diet4j</code> commands with the
        environment variable, you can put it into your <code>~/.bashrc</code> or such.
        By default, diet4j looks for modules in <code>/usr/lib/java</code>.</li>
   <li>As if 0.14, diet4j can now easily run under <code>jsvc</code>, the Apache
       project's Java daemon
       (<a href="https://commons.apache.org/proper/commons-daemon/jsvc.html">docs</a>),
       which in itself can be easily run from <code>systemd</code> on Linux. This makes
       it a lot easier to run diet4j-based server applications.</li>
  </ul>
 </div>
</div>
<div class="section">
 <div class="section-left">
  <h2>Platforms</h2>
 </div>
 <div class="section-right">
  <p>This has been tested on Linux and OSX, but should run on Windows as well.</p>
 </div>
</div>
<div class="section">
 <div class="section-left">
  <h2>License</h2>
 </div>
 <div class="section-right">
  <p><a href="https://github.com/diet4j/diet4j/blob/master/LICENSE">Apache 2.0</a>, a liberal
     open-source license.</p>
 </div>
</div>
