html {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: $base-font-weight;
    -webkit-text-size-adjust: 100%;
}

body {
    width: $width;
    margin: 0 auto;
    padding: 0 $padding;
}

h1 {
    font-size: 2*$base-font-size;
    margin: 16px 0 0 0;
}
p.post-meta {
    font-size: $small-font-size;
}

h2 {
    line-height: 1.0;
}

p, li, h2, pre {
    margin: 0;
    padding: $base-font-size/4 0;
}

ul, ol, {
    margin: 0;
    padding: 0 0 0 $padding;
}

li {
    margin: 0;
}

div.header {
    padding-bottom: 20px;
    border-bottom: 1px solid #b0b0b0;
}

footer {
    padding: $padding;
}

footer > p {
    font-size: $small-font-size;
    margin: 0;
    padding: 0;
    line-height: 1.3;
}

pre, code {
    font-family: $fixed-font-family;
    font-size: $fixed-font-size;
}
pre {
    overflow-x: auto;
}

div.links > ul {
    list-style-type: none;
    text-align: center;
    margin: 30px auto;
}
div.links > ul > li {
    display: inline-block;
    padding: 0 $base-font-size/2;
}

div.news {
    float: right;
    width: $width/4;
    margin: 0 0 0 $padding;
    padding: $padding;
}
div.news li {
    list-style: square;
}
div.section {
    overflow: hidden;
    margin: $padding 0;
    padding: $padding;
    border-radius: $padding;
}
div.section-left {
    float: left;
    width: $left-column-width;
}
div.section-right {
    float: right;
    width: $width - $left-column-width - 4*$padding;
}
div.section-right-first {
    float: right;
    width: $width - $left-column-width - 4*$padding - $width/4 - 3*$padding;
}

div.post {
    margin: $padding 0;
    padding: $padding;
    border-radius: $padding;
}
